.header img {
    width: 65%;
    margin : 5px 18% 0px;
}
ion-content p {
    font-size: 13px;
    color: grey;
    text-align: center;

}
ion-content form ion-button, ion-content .signup {
    margin-top: 25px;
}