<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nama Tempat
      <p>Pondok Aren, Jakarta Selatan</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form action="">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p><b>From</b></p>
        </ion-col>
        <ion-col>
          <p>Pengirim</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>To</b></p>
        </ion-col>
        <ion-col>
          <p>
            <ion-badge color="light">Pengirim 1</ion-badge>
            <ion-badge color="light">Pengirim 2</ion-badge>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h5>MeetUp#1209824</h5>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Date & Time</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>MM/DD/YYYY <ion-icon name="today-outline"></ion-icon>
            </ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>H:MM A <ion-icon name="time-outline"></ion-icon>
            </ion-label>
            <ion-datetime displayFormat="h:mm a"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Place</p>
        </ion-col>
        <ion-col>
          <p>Address</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="Place Name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="Address Name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br><br><br><br>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="full">Compose</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>